body {
  background-color: lightsteelblue;
  color: darkslategray;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  font-size: 80px;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}

h1.wiggle {
display: inline-block;
animation: wiggle 1.0s infinite;
}

h1.wiggle:hover {
animation: none;
}

.navbar {
  font-size: 35px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  border: solid;
  border-color: darkslategray;
  padding: 10px;
  background-color: silver;
  color: darkslategray;
  transition: color, 1.0s;
}

.border.active {
  background-color: dimgray;
  color: dodgerblue;
  border-color: dodgerblue;
}

ul {
  padding:0;
  margin:0;
  display: inline-block;
  text-align:left;
  width: 500px;
  }
  ul li {
  padding-left:8px;
  list-style:none;
  margin-bottom:6px;
  text-align: center;
  text-indent: -12px;
  }

  .form {
    padding: 30px;
  }
